# dependencias
node_modules/

# salidas de compilación
dist/
build/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# sistema operativo
.DS_Store
Thumbs.db

# configuraciones del IDE/editor
.vscode/
.idea/

# archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

# coverage de tests
coverage/
